.chat-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: #fff;
  }

  
  .chat-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Можна змінити на будь-яку висоту, яку ви хочете */
  }
  
  
  .chat-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  .chat-messages {
    display: flex;
    flex-direction: column;
  }
  
  .chat-message {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3a3a3a;
    border-radius: 5px;
  }
  
  .chat-input {
    padding: 20px;
    background-color: #282828;
    border-top: 1px solid #444;
  }
  
  .send-button {
    margin-top: 10px;
    width: 100%;
  }
  