/* src/index.css або App.css */
body, html, #root {
  background-color: #f8f9fa; /* Білий фон для всього тіла */
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif; /* Шрифт для всього тіла */
}
